html {
    

}
* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;

    }
body {
}
.title-movie {
    text-shadow: 2px 2px 10px #cc0000;
}
.overview-movie {
    text-shadow: 2px 2px 10px #cc0000;

}
