html {
    

}
* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;

    }
body {
}
.title-movie {
    text-shadow: 2px 2px 10px #cc0000;
}
.overview-movie {
    text-shadow: 2px 2px 10px #cc0000;

}

.carousel.carousel-slider {
    overflow: inherit;
    z-index: 10;
}

.carousel .control-next.control-arrow, .carousel .control-next.control-arrow:hover{
    background-color: transparent;
    
}

.carousel .control-prev.control-arrow, .carousel .control-prev.control-arrow:hover {
    background-color: transparent;
    
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow{
    opacity: 1;
}




